@charset "UTF-8";

body{
	background-color: #eee;
	padding: 20px;
}

.header {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}

.logo {
    height: 100px;
    margin-right: 20px;
}

.menu {
	flex: 1;
}

.card-form{
	width: 25em;
	margin: 10px auto;
}

.bankSlip-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.bankSlip-list-detail {
    flex: 1 1 0;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
}

.bankSlip-name {
    font-size: 1rem;
    font-weight: 700;
}

.bankSlip-description {
    margin: 0 0 1rem 0;
}

.bankSlip-list-action {
    display: flex;
    flex-direction: column;
}
.bankSlip-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
}

.bankSlip-list-item img {
    max-width: 100px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    margin-right: 2rem;
}

.input{
	margin: 10px 0;
}



.info-title {
	font-weight: bold;
	margin-right: 10px;
}

i.pi-check-circle {
	color: #0d0;
	position: relative;
	top: 1px;
	margin-right: 2px;
}
